In [1]:
miTupla = (1, 2, True, "una cadena", (3, 4), [5, 6], None)
print(miTupla)

miLista = [1, 2, True, "una cadena", (3, 4), [5, 6], None]
print(miLista)

(1, 2, True, 'una cadena', (3, 4), [5, 6], None)
[1, 2, True, 'una cadena', (3, 4), [5, 6], None]

In [2]:
tuplaVacia = ()
print(type(tuplaVacia))    # salida: <class 'tuple'>

<class 'tuple'>

In [3]:
tuplaUnElemento = ("uno", )    # paréntesis y coma
tuplaUnElemento2 = "uno",     # sin paréntesis, solo la coma

In [4]:
miTup1 = 1, 
print(type(miTup1))    # salida: <class 'tuple'>

miTup2 = 1
print(type(miTup2))    # salida: <class 'int'>

<class 'tuple'>
<class 'int'>

In [5]:
miTupla = (1, 2.0, "cadena", [3, 4], (5, ), True)
print(miTupla[3])    # salida: [3, 4]

[3, 4]

In [6]:
miTupla = (1, 2.0, "cadena", [3, 4], (5, ), True)
miTupla[2] = "guitarra"    # se levanta una excepción TypeError

TypeError: 'tuple' object does not support item assignment

In [7]:
miTupla = 1, 2, 3, 
del miTupla
print(miTupla)    # NameError: name 'miTupla' is not defined

NameError: name 'miTupla' is not defined

In [8]:
# Ejemplo 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

# Ejemplo 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

# Ejemplo 3
t3 = (1, 2, 3, 5)
print(len(t3))

# Ejemplo 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

1
2
3
False
True
4
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [9]:
miTup = tuple((1, 2, "cadena"))
print(miTup)

lst = [2, 4, 6]
print(lst)    # salida: [2, 4, 6]
print(type(lst))    # salida: <class 'list'>
tup = tuple(lst)
print(tup)    # outputs: (2, 4, 6)
print(type(tup))    # salida: <class 'tuple'>

(1, 2, 'cadena')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

In [10]:
tup = 1, 2, 3, 
lst = list(tup)
print(type(lst))    # outputs: <class 'list'>

<class 'list'>